In [42]:
# Dependencies
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import sqlite3

In [43]:
# Name of the CSV file
file = '../Resources/Police_Incidents.csv'

In [44]:
#Reads in the File as a dataframe
po_poDF = pd.read_csv(file);

In [45]:
# Creates a function that pulls the coordinates out of a string and returns the coordinate.
def ConvertCoor(text):
    Coordinates=text[text.find("(")+1:text.find(")")]
    Coordinates = Coordinates.split(',')
    try:
        Coordinates = [float(Coordinates[0]),float(Coordinates[1])]
    except:
        Coordinates = np.nan
    return Coordinates

In [46]:
po_poDF.head()

,Incident Number w/year,Year of Incident,Service Number ID,Watch,Call (911) Problem,Type of Incident,Type Location,Type of Property,Incident Address,Apartment Number,...,NIBRS Code,NIBRS Group,NIBRS Type,Update Date,X Coordinate,Y Cordinate,Zip Code,City,State,Location1
0,151324-2016,2016,151324-2016-01,3,40/01 - OTHER,ACCIDENT INVOLVING INJURY,"Highway, Street, Alley ETC",NaN,3820 W NORTHWEST HWY,NaN,...,NaN,NaN,NaN,06/26/2016 08:30:39 AM,2.474503e+06,7.000386e+06,75220.0,DALLAS,TX,"3820 W NORTHWEST HWY\nDALLAS, TX 75220\n(32.86..."
1,225845-2015,2015,225845-2015-01,1,07 - MINOR ACCIDENT,ACCIDENT INVOLVING INJURY,"Highway, Street, Alley ETC",NaN,400 OLIVE ST,NaN,...,NaN,NaN,NaN,09/30/2015 10:07:03 AM,2.492638e+06,6.972580e+06,75201.0,DALLAS,TX,"400 OLIVE ST\nDALLAS, TX 75201\n(32.784474, -9..."
2,310747-2016,2016,310747-2016-01,3,7X - MAJOR ACCIDENT,ACCIDENT INVOLVING INJURY,"Highway, Street, Alley ETC",NaN,3200 KIRNWOOD DR,NaN,...,NaN,NaN,NaN,01/02/2017 02:57:00 AM,2.470295e+06,6.923469e+06,75237.0,DALLAS,TX,"3200 KIRNWOOD DR\nDALLAS, TX 75237"
3,164601-2016,2016,164601-2016-02,1,58 - ROUTINE INVESTIGATION,TRAF VIO -DRIVING W VIO FIN RESP ACCIDENT SBI...,"Highway, Street, Alley ETC",NaN,NaN,NaN,...,NaN,NaN,NaN,07/11/2016 10:55:03 AM,NaN,NaN,NaN,NaN,NaN,NaN
4,217928-2014,2014,217928-2014-01,1,40/01 - OTHER,FAIL TO LEAVE ID AT SCENE OF ACCIDENT DAMAGE <...,"Highway, Street, Alley ETC",NaN,3300 SAMUELL BLVD,NaN,...,NaN,NaN,NaN,09/11/2014 05:54:00 AM,NaN,NaN,75204.0,Dallas,TX,"3300 SAMUELL BLVD\nDallas, TX 75204\n(32.79293..."

In [47]:
#Drop any rows with a NaN in the Location column.
po_poDF.dropna(subset=['Location1'],inplace=True)

#Pull out the columns of interest to another dataframe.
cleanPo_poDF=po_poDF[['Type of Incident','Type  Location','Year of Incident', 'Location1', 'Zip Code','Update Date']].copy()
cleanPo_poDF.head()

,Type of Incident,Type Location,Year of Incident,Location1,Zip Code,Update Date
0,ACCIDENT INVOLVING INJURY,"Highway, Street, Alley ETC",2016,"3820 W NORTHWEST HWY\nDALLAS, TX 75220\n(32.86...",75220.0,06/26/2016 08:30:39 AM
1,ACCIDENT INVOLVING INJURY,"Highway, Street, Alley ETC",2015,"400 OLIVE ST\nDALLAS, TX 75201\n(32.784474, -9...",75201.0,09/30/2015 10:07:03 AM
2,ACCIDENT INVOLVING INJURY,"Highway, Street, Alley ETC",2016,"3200 KIRNWOOD DR\nDALLAS, TX 75237",75237.0,01/02/2017 02:57:00 AM
4,FAIL TO LEAVE ID AT SCENE OF ACCIDENT DAMAGE <...,"Highway, Street, Alley ETC",2014,"3300 SAMUELL BLVD\nDallas, TX 75204\n(32.79293...",75204.0,09/11/2014 05:54:00 AM
5,FAIL TO LEAVE ID AT SCENE OF ACCIDENT DAMAGE <...,"Highway, Street, Alley ETC",2014,"5400 N JIM MILLER RD\nDALLAS, TX 75227\n(32.78...",75227.0,02/19/2018 11:31:46 PM

In [48]:
#Creates a Coordinate column that uses the apply function to pull the coordinate data using the ConvertCoor function from above.
cleanPo_poDF['Coordinates']=cleanPo_poDF['Location1'].apply(ConvertCoor,convert_dtype=True)

In [49]:
#Drops any rows where the coordinates may be missing.
cleanPo_poDF.dropna(subset=['Coordinates'],inplace=True)

In [50]:

#Pulls out the Latitude and Longitude of the coordinate column.
Lat = [];
Long = [];
for coor in cleanPo_poDF['Coordinates']:
    Lat.append(coor[0])
    Long.append(coor[1])

In [51]:
cleanPo_poDF['Latitude']=Lat
cleanPo_poDF['Longitude']=Long

In [52]:
cleanPo_poDF.head()

,Type of Incident,Type Location,Year of Incident,Location1,Zip Code,Update Date,Coordinates,Latitude,Longitude
0,ACCIDENT INVOLVING INJURY,"Highway, Street, Alley ETC",2016,"3820 W NORTHWEST HWY\nDALLAS, TX 75220\n(32.86...",75220.0,06/26/2016 08:30:39 AM,"[32.861734, -96.852296]",32.861734,-96.852296
1,ACCIDENT INVOLVING INJURY,"Highway, Street, Alley ETC",2015,"400 OLIVE ST\nDALLAS, TX 75201\n(32.784474, -9...",75201.0,09/30/2015 10:07:03 AM,"[32.784474, -96.794717]",32.784474,-96.794717
4,FAIL TO LEAVE ID AT SCENE OF ACCIDENT DAMAGE <...,"Highway, Street, Alley ETC",2014,"3300 SAMUELL BLVD\nDallas, TX 75204\n(32.79293...",75204.0,09/11/2014 05:54:00 AM,"[32.792939, -96.738253]",32.792939,-96.738253
5,FAIL TO LEAVE ID AT SCENE OF ACCIDENT DAMAGE <...,"Highway, Street, Alley ETC",2014,"5400 N JIM MILLER RD\nDALLAS, TX 75227\n(32.78...",75227.0,02/19/2018 11:31:46 PM,"[32.789257, -96.699973]",32.789257,-96.699973
6,FAIL TO LEAVE ID AT SCENE OF ACCIDENT DAMAGE <...,"Highway, Street, Alley ETC",2015,"500 S MUNGER BLVD\nDALLAS, TX 75223\n(32.79359...",75223.0,10/04/2015 11:26:09 PM,"[32.793596, -96.758923]",32.793596,-96.758923

In [53]:
#Converts the 'Update Date' Column to a datatime data type.
cleanPo_poDF['Update Date']=pd.to_datetime(cleanPo_poDF['Update Date'])

In [54]:
#Gets the day of week that the accident landed on.
cleanPo_poDF['Day of Week']=cleanPo_poDF['Update Date'].dt.day_name()

In [55]:
cleanPo_poDF.head()

,Type of Incident,Type Location,Year of Incident,Location1,Zip Code,Update Date,Coordinates,Latitude,Longitude,Day of Week
0,ACCIDENT INVOLVING INJURY,"Highway, Street, Alley ETC",2016,"3820 W NORTHWEST HWY\nDALLAS, TX 75220\n(32.86...",75220.0,2016-06-26 08:30:39,"[32.861734, -96.852296]",32.861734,-96.852296,Sunday
1,ACCIDENT INVOLVING INJURY,"Highway, Street, Alley ETC",2015,"400 OLIVE ST\nDALLAS, TX 75201\n(32.784474, -9...",75201.0,2015-09-30 10:07:03,"[32.784474, -96.794717]",32.784474,-96.794717,Wednesday
4,FAIL TO LEAVE ID AT SCENE OF ACCIDENT DAMAGE <...,"Highway, Street, Alley ETC",2014,"3300 SAMUELL BLVD\nDallas, TX 75204\n(32.79293...",75204.0,2014-09-11 05:54:00,"[32.792939, -96.738253]",32.792939,-96.738253,Thursday
5,FAIL TO LEAVE ID AT SCENE OF ACCIDENT DAMAGE <...,"Highway, Street, Alley ETC",2014,"5400 N JIM MILLER RD\nDALLAS, TX 75227\n(32.78...",75227.0,2018-02-19 23:31:46,"[32.789257, -96.699973]",32.789257,-96.699973,Monday
6,FAIL TO LEAVE ID AT SCENE OF ACCIDENT DAMAGE <...,"Highway, Street, Alley ETC",2015,"500 S MUNGER BLVD\nDALLAS, TX 75223\n(32.79359...",75223.0,2015-10-04 23:26:09,"[32.793596, -96.758923]",32.793596,-96.758923,Sunday

In [56]:
#Drops the Coordinate column so that it dataframe can be ported to sqlite
cleanPo_poDF.drop(columns=['Coordinates'],inplace=True)

In [57]:
cleanPo_poDF.head()

,Type of Incident,Type Location,Year of Incident,Location1,Zip Code,Update Date,Latitude,Longitude,Day of Week
0,ACCIDENT INVOLVING INJURY,"Highway, Street, Alley ETC",2016,"3820 W NORTHWEST HWY\nDALLAS, TX 75220\n(32.86...",75220.0,2016-06-26 08:30:39,32.861734,-96.852296,Sunday
1,ACCIDENT INVOLVING INJURY,"Highway, Street, Alley ETC",2015,"400 OLIVE ST\nDALLAS, TX 75201\n(32.784474, -9...",75201.0,2015-09-30 10:07:03,32.784474,-96.794717,Wednesday
4,FAIL TO LEAVE ID AT SCENE OF ACCIDENT DAMAGE <...,"Highway, Street, Alley ETC",2014,"3300 SAMUELL BLVD\nDallas, TX 75204\n(32.79293...",75204.0,2014-09-11 05:54:00,32.792939,-96.738253,Thursday
5,FAIL TO LEAVE ID AT SCENE OF ACCIDENT DAMAGE <...,"Highway, Street, Alley ETC",2014,"5400 N JIM MILLER RD\nDALLAS, TX 75227\n(32.78...",75227.0,2018-02-19 23:31:46,32.789257,-96.699973,Monday
6,FAIL TO LEAVE ID AT SCENE OF ACCIDENT DAMAGE <...,"Highway, Street, Alley ETC",2015,"500 S MUNGER BLVD\nDALLAS, TX 75223\n(32.79359...",75223.0,2015-10-04 23:26:09,32.793596,-96.758923,Sunday

In [76]:
#Outputs the final dataframe to a CSV.
cleanPo_poDF=cleanPo_poDF.rename(columns={'Type of Incident':'Type_of_Incident','Type  Location':'Type_Location','Year of Incident':'Year_of_Incident','Zip Code':'ZipCode','Update Date':'UpdateDate','Day of Week':'Day_of_Week'})
cleanPo_poDF.columns
#cleanPo_poDF.to_csv('../Resources/CleanPo_po.csv')

Index(['Type_of_Incident', 'Type  Location', 'Year_of_Incident', 'Location1',
       'ZipCode', 'UpdateDate', 'Latitude', 'Longitude', 'Day_of_Week'],
      dtype='object')

In [59]:
#Creates a SQLite file.
conn=sqlite3.connect('../resources/Traffic.db')

In [69]:
#Ports over all dataframe info to the sqlite file.

C:\Users\Thinh\Anaconda3\lib\site-packages\pandas\core\generic.py:2130: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  dtype=dtype)

In [71]:
#conn.close()
cleanPo_poDF.to_sql('Dallas_Traffic',con=conn,schema=None,if_exists='replace',index=True,index_label=None, chunksize=None, dtype=None)
#connect to the database
c = conn.cursor()

c.executescript('''
    PRAGMA foreign_keys=off;

    BEGIN TRANSACTION;
    ALTER TABLE table RENAME TO old_table;

    /*create a new table with the same column names and types while
    defining a primary key for the desired column*/
    CREATE TABLE new_table (col_1 TEXT PRIMARY KEY NOT NULL,
                            col_2 TEXT);

    INSERT INTO new_table SELECT * FROM old_table;

    DROP TABLE old_table;
    COMMIT TRANSACTION;

    PRAGMA foreign_keys=on;''')

#close out the connection
c.close()
conn.close()

C:\Users\Thinh\Anaconda3\lib\site-packages\pandas\core\generic.py:2130: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  dtype=dtype)

OperationalError: near "table": syntax error